.greet{
    text-align: center;
}
.inner-box{
    text-align: center;
}
#btn{
    text-align: center;
}
.topic{
    text-align:center;
}
#bn{
    text-align: center;
}
.prev-page{
    text-align:initial;
}