.greet{
    font-size:80px;
    font-style: oblique;
}
.inner-box{
    font-size:30px;
    font-style:oblique;
}
#btn{
    font-size: 70px;
}
.topic{
    font-size:80px;
    font-style: oblique;
}
#bn{
    font-size: 70px;
}